/* Global */

:root{

--darkColor:#000;
--lightColor:#fff;
--PrimaryColor:#FFB200;
/* overskrifter */
--SecondaryColor:#760285;
/* farge på knapper osv */
--accentPrimColor:#F0DE1E;
/* lyserer versjon av hovedfargen */
--accentSecColor:#D9D9D9;
/* hovre over knapper */

--defaultSpacing: 1.6rem;

--defaultFontFamily:"roboto";
--headingFontFamily:"orbitron";

}

html{
    font-size: 10px;
}

body{
    margin: 0;
    font-size: var(--defaultSpacing);
    padding: var(--defaultSpacing);
    color: var(--SecondaryColor);
}

h1,h2,h3{
    font-family: var(--headingFontFamily);
    color: var(--PrimaryColor);
}

h4{
    font-family: var(--headingFontFamily);
    color: var(--PrimaryColor);
    display: inline;
}

img{
    width: 20rem;
    height: 20rem;
    background-color: var(--PrimaryColor);
}

/* Header */

.header{
    position: sticky;
    top: 0;
    background-color: var(--accentSecColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navClass{
    display: flex;
    padding: 0;
    margin: 12px;
    gap: 1.6rem;
    list-style-type: none;
}

.navClass a{
    text-decoration: none;
    cursor: pointer;
    color: var(--SecondaryColor);
}

.navClass a:hover{
    text-decoration: underline;
    color: var(--PrimaryColor);
}

.hamburgerIcon{
    height: 3.2rem;
    width: 3.2rem;
    display: none;
    background-color: initial;
}

.navIcon{
    height: 6.4rem;
    width: 6.4rem;
    background-color: initial;
}

/* MAIN */

/* about */

.hero{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url(img/Hail\ mary\ BG\ 3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100dvh;
}

.heroIntro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.heroText{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.heroImg{
    width: 100%;
}

/* projectHailMary */

.projectHailMary{
height: 100dvh;
display: flex;
justify-content: center;
align-items: center;
}

.projectHailMaryTextContainer, .projectHailMaryImgContainer{
min-width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.projectHailMaryTitle{

}

.projectHailMaryText{
width: 30rem;
}


.projectHailMaryImg{
height: 100%;
}

.projectHailMaryImgText{
font-size: 1rem;
font-style: italic;
margin: 6px;
}