/* Global */

:root{

--darkColor:#000;
--lightColor:#fff;
--PrimaryColor:#FFB200;
/* overskrifter */
--SecondaryColor:#760285;
/* farge på knapper osv */
--accentPrimColor:#F0DE1E;
/* lyserer versjon av hovedfargen */
--accentSecColor:#D9D9D9;
/* hovre over knapper */

--defaultSpacing: 1.6rem;

--defaultFontFamily:"roboto";
--headingFontFamily:"orbitron";

}

html{
    font-size: 10px;
}

body{
    margin: 0;
    font-size: var(--defaultSpacing);
    padding: var(--defaultSpacing);
    color: var(--SecondaryColor);
}

h1,h2,h3{
    font-family: var(--headingFontFamily);
    color: var(--PrimaryColor);
    text-decoration: underline;
    letter-spacing: 2px;
}

h4{
    font-family: var(--headingFontFamily);
    color: var(--PrimaryColor);
    display: inline;
    text-decoration: underline;
}

img{
    width: 20rem;
    height: 20rem;
    background-color: var(--PrimaryColor);
}

/* Header */

.header{
    position: sticky;
    top: 0;
    background-color: var(--accentSecColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -1.6rem;
    margin: -1.6rem;
    
}

.navClass{
    display: flex;
    padding: 0;
    margin: 12px;
    gap: 1.6rem;
    list-style-type: none;
}

.navClass a{
    text-decoration: none;
    cursor: pointer;
    color: var(--SecondaryColor);
}

.navClass a:hover{
    text-decoration: underline;
    color: var(--PrimaryColor);
}

.hamburgerIcon{
    height: 3.2rem;
    width: 3.2rem;
    display: none;
    background-color: initial;
}

.navIcon{
    height: 6.4rem;
    width: 6.4rem;
    background-color: initial;
}

/* MAIN */

/* about */

.hero{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.heroBackgroundImage{
    background-image: url(img/Hail\ mary\ BG\ 3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: -1.6rem;
    
}

.heroIntro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 30%;
    background-color: #000000b4;
    border: 1px solid var(--PrimaryColor);
    border-radius: 10px;
    
}

.heroText{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.heroImg{
    width: 100%;
}

/* projectHailMary */

.projectHailMary{
   
height: 100dvh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
}

.projectHailMaryTextContainerBorder{
    border: 1px solid var(--PrimaryColor);
    border-radius: 10px; 
}

.projectHailMaryTextContainer , .projectHailMaryImgContainer{
min-width: 30%;
/* relativ?? */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}




.projectHailMaryTitle{

}

.projectHailMaryText{
max-width: 30rem;
}


.projectHailMaryImg{
height: 100%;
margin-top: 1.6rem;
}

.projectHailMaryImgText{
font-size: 1rem;
font-style: italic;
margin: 6px;
}

/* The Hail Mary */

.theHailMary{
min-height: 100dvh;
display: flex;
justify-content: center;
align-items: center;
gap: 16px;
}

.theHailMaryTitle{
    
}

.theHailMaryTextContainer, .theHailMaryImgContainer {
max-width: 20dvw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px;
}

.theHailMaryTextContainer2{
    display: inline;

}

.theHailMaryText{
max-width: 20rem;
/* relativt? */

}

/* høre om dette */
.theHailMaryText h4{
    h4{
        font-family: var(--headingFontFamily);
        color: var(--PrimaryColor);
        display: inline;
    }
}

.theHailMaryImg{
height: 100%;
}

.theHailMaryImgText{
font-size: 1rem;
font-style: italic;
margin: 6px;
}


/* CREW */

.crew{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    
}

.crewList{
    display: flex;
    justify-content: center;
     /* align-items: center; TATT VEKK FOR Å LINE DE OPP BEDRE */
    flex-wrap: wrap;
    gap: 1.6rem;
    list-style-type: none;
    padding: 0;
    
}

.crewCard{
    max-width: 30rem;
    border: 2px solid var(--accentPrimColor); 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   align-items: center; 
    gap: 1.6rem;
    text-align: center;
}

/* FOOTER */

.footer{
   display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px;
    gap: 12px;
    background-color: var(--accentSecColor);
    padding: -1.6rem;
    margin: -1.6rem;
     */
}

.footerCredits{
    gap: 12px;
}

/* Media Query */

@media(max-width: 426px){

section{
    min-height: 100dvh;
}

    .headerNav{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .navClass{
        display: none;
    }

    .navHamburgerList{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .hamburgerIcon{
        display: inline;
    }

    .heroIntro{
        flex-direction: column;
        max-width: none;
        gap: none;
    }

    .projectHailMary{
        flex-direction: column;
        
    }


    .theHailMary{
        flex-direction: column;
       gap: none;
       max-width: none;
       padding: none;
       min-height: 100dvh;
    }

    .theHailMaryTextContainer, .theHailMaryImgContainer, .theHailMaryTextContainer2{
        max-width: none;
    }

    .theHailMaryText{
        max-width: none;
    }

    .crewList{
        flex-direction: column;
       
    }



}